
__pycache__/Controller.cpython-38.pyc
__pycache__/Dataset.cpython-38.pyc
__pycache__/Layer.cpython-38.pyc
__pycache__/NeuronalesNetz.cpython-38.pyc
__pycache__/Regelwerk.cpython-38.pyc
__pycache__/View.cpython-38.pyc
my_model.tf/saved_model.pb
my_model.tf/variables/variables.data-00000-of-00001
my_model.tf/variables/variables.index
model_test.tf/saved_model.pb
model_test.tf/variables/variables.data-00000-of-00001
model_test.tf/variables/variables.index
ohne_hidden.tf/saved_model.pb
ohne_hidden.tf/variables/variables.data-00000-of-00001
ohne_hidden.tf/variables/variables.index
Netzwerke
